*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}


:root{
    --white: #ffffff;
    --grey:#65768C;
    --light-grey:#D5D5D5;
    --bright-green:#8DF2A6;
    --light-green:#B5F2AC;
    --light-yellow:#DDF2AE;
    --dark-text:#1F1F1F;
}

body{

    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-text);
}





header{
    background: rgba(255, 255, 255, 0.356);
    height: auto;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
}
header a:hover{
    color: var(--bright-green);
}

.header__logo-section img{
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
}
.header__nav-center-items{
    display: flex;
    justify-content: space-evenly;
}
.header__nav-page a, .header__nav-icon a, .header__nav-contact a, .header__nav-checkout a{
margin: 10px;
font-size: 18px;
font-weight: bold;
text-decoration: none;
color: #1F1F1F;
}
.header__nav-right-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__nav-checkout i, .header__nav-contact i{
    margin-left: 5px;
}
.section__main-product{
    width: auto;
    height: 75vh;
    background-color: #65768ccb;
    color: var(--dark-text);
    border-radius: 20px;
    margin: 100px 15vw 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px;
    box-shadow: inset;
    box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75);
}


.section__main-product-content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    align-items: center;
}
.section__main-product-content img{
    width: 50vh;
}
.section__main-product-content .description{
    width: 50%;
    color: var(--white);
    /* font-size: 32px; */
    font-size: 42px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: #000000;
    

}
.btn-row{
    display: flex;
    justify-content: space-between;
}
#learn-more-btn {
        background-color: var(--white);
        color: var(--dark-text);
        padding: 15px 25px;
        text-decoration: none;
        border-radius: 80px;
      }  
.inner-circle{
        border-radius: 50%;
        padding: 10px;
        background: #9dfeb2;
        background-blend-mode: normal;
        margin-left: 10px ;
    }
#watch-btn {
        background-color: var(--white);
        color: var(--dark-text);
        padding: 15px 25px;
        text-decoration: none;
        border-radius: 80px;

      }  
.camera-circle{
        border-radius: 50%;
        padding: 10px;
        background: #9dfeb2;
        background-blend-mode: normal;
        margin-left: 10px ;
        background-position: center;
        background-size: 5vh;
        background-repeat: no-repeat;
    }
#learn-more-btn:hover{
    box-shadow: 15px 10px 15px -3px rgba(0,0,0,0.1);
    margin-left: 1px; 
}
#watch-btn:hover{
    box-shadow: 15px 10px 15px -3px rgba(0,0,0,0.1);
    margin-right: 1px; 
}
#learn-more-btn:hover >.inner-circle, #watch-btn:hover >.inner-circle{
    box-shadow: 15px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--light-yellow);
}

/* Overview Section */
.section__overview{
    width: auto;
    height: 75vh;
    background-color: rgb(226, 226, 226);
    color: var(--dark-text);
    border-radius: 20px;
    margin: 20px 15vw;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border: solid 1px #1F1F1F;
    box-shadow: inset;
    box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75);
}


.section__overview-description{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 10px;
}

.section__overview-description h3{
    width: auto;
    color: var(--dark-text);
    font-size: 42px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;

}
.section__overview-description p{
    width: auto;
    color: var(--dark-text);
    font-size: 30px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;

}
#overview-btn {
    background-color: var(--white);
    color: var(--dark-text);
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 80px;
    width: fit-content;
    border: solid 1px #1F1F1F;
    box-shadow: inset;
    /* box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 14px -1px rgba(0,0,0,0.75); */
    }  
#overview-btn .inner-circle{
    border-radius: 50%;
    padding: 10px;
    background: var(--light-yellow);
    background-blend-mode: normal;
    margin-left: 10px ;
}
#overview-btn:hover{
    border: solid 1px #1F1F1F;
    box-shadow: 15px 10px 15px -3px rgba(0,0,0,0.1);
    margin-left: 1px; 
}
#overview-btn:hover >.inner-circle{
    background-color: #9dfeb2;
    color: #000000;
}


.section__overview-product{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.section__overview-product img{

    width: 20vw;
    background: linear-gradient(180deg, #55a5b8 0%, #924ed5 100%);
    background-blend-mode: normal;
    border-radius: 8px;

}
.section__overview-product h4{

    font-size: 28px;
    color: linear-gradient(180deg, #55a5b8 0%, #924ed5 100%);
    background-blend-mode: normal;
    border-radius: 8px;
    font-style: italic;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;

}


.footer__section{
    background-color: #1F1F1F;
    width: auto;
    height: 50px;
    color: var(--white);
    padding: 10px;
}
.footer__section .copyright, .footer__section a{
    margin: 5px;
    display: flex;

    text-decoration: none;
    color: white;
}

@media only screen and (max-width:1440px) {
.section__main-product-content .description{
    font-size: 38px;}
.section__main-product-content img {
    width: 40vh;
    }
    .section__main-product, .section__overview{
        height: fit-content;
    }
    .section__main-product-content .description{
        font-size: 32px;}
    .section__main-product-content img {
        width: 30vh;
        margin: 0;
        }
    .section__main-product-content{
        margin-bottom: 50px;
    }
    .section__overview-description{
        width:95vh ;
    }
    .section__overview-description p {
        margin-bottom: 50px;
        font-size: 22px;
    }
    .section__overview-description h3 {
        margin-bottom: 15px;
        font-size: 32px;
    }
    .section__overview-product img {
        margin-bottom:20px ;
    }



}

@media only screen and (max-width:1025px){
    .section__main-product, .section__overview{
        height: fit-content;
    }
    .section__main-product-content .description{
        font-size: 28px;}
    .section__main-product-content img {
        width: 30vh;
        margin: 0;
        }
    .section__main-product-content{
        margin-bottom: 50px;
    }
    .section__overview-description{
        width:95vh ;
    }
    .section__overview-description p {
        margin-bottom: 50px;
        font-size: 18PX;
    }
    .section__overview-description h3 {
        margin-bottom: 15px;
        font-size: 28px;
    }
    .section__overview-product img {
        margin-bottom:20px ;
    }
}

@media only screen and (max-width:982px){
    .header__nav-center{
        display: none;
    }
    .section__main-product, .section__overview{
        height: fit-content;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px;
    }
    .section__main-product-content .description{
        font-size: 28px;}
    .section__main-product-content img {
        width: 30vh;
        margin: 0;
        }
    .section__main-product-content{
        margin-bottom: 50px;
    }
    .section__overview-description{
        width:95vh ;
        margin-left: 40px;
    }
    .section__overview-description p {
        margin-bottom: 50px;
        font-size: 18PX;
    }
    .section__overview-description h3 {
        margin-bottom: 15px;
        font-size: 28px;
    }
    .section__overview-product img {
        margin-bottom:20px ;
    }

}
@media only screen and (max-width:529px){
    .header__nav-center, .header__nav-right-items{
        display: none;
    }
    .section__main-product, .section__overview{
        height: fit-content;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px;
    }    
    
    .section__main-product-content{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column-reverse;
    }
    .section__main-product-content .description{
        font-size: 28px;
        width: auto;
        text-align: center;
        margin-top: 20px;
    }
    .section__main-product-content img {
        width: 30vh;
        margin: 0;
        }
    .section__main-product .btn-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #learn-more-btn, #watch-btn{
        width: fit-content;
        margin-bottom: 10px;
    }

    .section__overview-description{
        width:95vh ;
        margin-left: 40px;
    }
    .section__overview-description p {
        margin-bottom: 50px;
        font-size: 18PX;
    }
    .section__overview-description h3 {
        margin-bottom: 15px;
        font-size: 28px;
    }
    .section__overview-product img {
        margin-bottom:20px ;
    }
}